<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
<h1> Page 2</h1>
Hello <span th:text="${name}">Name</span>
</body>
</html>